Create New Dog:
<form action="/dogs" method="post">
  <input type="text" name="dog_breed" placeholder="Breed">
  <input type="text" name="dog_color" placeholder="Color">
  <input type="text" name="dog_size" placeholder="Size">
  <input type="submit" value="Submit">
</form>